#projects-section {
  font-family: "Roboto", sans-serif;
  padding: 150px 0 200px 0;
}

.projects-heading {
  font-size: 1.4rem;
}

.project-card-no-image {
  border-radius: 5px;
}

.project-card-no-image:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  z-index: 1;
  cursor: pointer;
}
