#projects-section {
  font-family: "Roboto", sans-serif;
  padding: 150px 0 200px 0;
}

.projects-heading {
  font-size: 2rem;
}

.project-card-no-image {
  border-radius: 5px;
}

.project-card-heading {
  text-transform: uppercase;
}

.project-creator-circle {
  width: 70px;
  height: auto;
  margin: 0 10px;
}

@media (max-width: 768px) {
  .projects-heading {
    font-size: 1.4rem;
  }
}
