#education-section {
  font-family: "Roboto", sans-serif;
  padding: 150px 0;
}

.education {
  margin: 0 !important;
  max-width: 100% !important;
}

.education-heading {
  font-weight: 400 !important;
}

.role {
  font-weight: 500 !important;
  text-align: left;
}

.organization {
  float: left;
}

.role-description {
  text-align: left;
}
